.search-bar__container {
  height: 152px;
  width: 100%;
  border-bottom: 2px solid #e2e2e2;
  display: flex;
  position: relative;
}

.logo__links {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
}

.instagram-icon-logo {
  margin: 38px 0 0 5%;
  width: 80px;
}

.divider-line {
  width: 8%;
  height: 65px;
  border-right: 1px solid black;
  margin-top: 45px;
}

.instagram-name-logo {
  margin: 35px 0 0 6.5%;
  width: 240px;
  color: black;
}

.search-field {
  margin: 52px auto 0;
  width: 430px;
  height: 50px;
  border: 2px solid #e2e2e2;
  border-radius: 6px;
  text-align: center;
  font-size: 3rem;
  background: #f9f9f9 url(../../images/search.svg) no-repeat scroll 1px 1px;
  background-size: 6%;
  background-position: 135px 15px;
}

.icons {
  position: absolute;
  top: 0;
  right: 0;
  margin: 60px 2% 0 0;
}
