.aside__container {
  margin: 137px 3.2% 0 0;
  width: 100%;
  max-width: 295px;

  @media (max-width: 1000px) {
    display: none;
  }

  .aside {
    max-width: 295px;
    width: 100%;
    border: 1px solid red;
    height: 600px;
    margin-right: 3%;
  }

  .photo__username {
    display: flex;
    margin-left: 2.5%;
    width: 100%;

    .user__photo {
      width: 17%;
      cursor: pointer;

      img {
        border-radius: 50%;
      }
    }

    .username__fullname {
      padding: 9px 5%;
      display: flex;
      flex-direction: column;
      width: 60%;

      .aside__username {
        text-decoration: none;
        color: black;
        font-size: 1.45rem;
        font-weight: 500;
      }

      .user__full-name {
        display: inline-block;
        margin-top: 5px;
        font-size: 1.2rem;
        color: #979797;
        font-weight: 500;
      }
    }
  }
}

.aside__container--fixed {
  position: fixed;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  margin: 77px 0;

  @media (max-width: 1000px) {
    display: none;
  }
}
