.login__container {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  width: 100%;
  padding: 15vh 0 0;
  margin: 0 auto;

  @media (max-width: 800px) {
    justify-content: center;
    padding-top: 3vh;
  }

  .phones__img {
    width: 51%;

    @media (max-width: 800px) {
      display: none;
      width: 100%;
    }
  }

  .form__container {
    width: 46.5%;

    @media (max-width: 800px) {
      max-width: 349px;
      width: 100%;
    }

    .form__top {
      margin-top: 30px;
      width: 100%;
      height: 352px;
      background: white;
      border: 1px solid #e2e2e2;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;

      .login__logo {
        width: 54%;
        margin: 21px auto 0;
      }

      .login__form {
        display: flex;
        flex-direction: column;
        margin: 6px 11% 0;

        .login__username {
          height: 33px;
          margin-bottom: 7px;
          padding-left: 9px;
          font-size: 1.2rem;
          border: 1px solid #edecec;
          background: #f9f9f9;
          border-radius: 3px;
          -webkit-appearance: none;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
        }

        .login__full-name {
          height: 33px;
          margin-bottom: 7px;
          padding-left: 9px;
          font-size: 1.2rem;
          border: 1px solid #edecec;
          background: #f9f9f9;
          border-radius: 3px;
          -webkit-appearance: none;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
        }

        .login__password {
          height: 33px;
          margin-bottom: 15px;
          padding-left: 9px;
          font-size: 1.2rem;
          border-radius: 3px;
          border: 1px solid #edecec;
          background: #f9f9f9;
          border-radius: 3px;
          -webkit-appearance: none;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
        }

        .login__button {
          height: 32px;
          background: #3f95ef;
          color: white;
          opacity: 0.35;
          font-size: 1.4rem;
          font-weight: 700;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          -webkit-appearance: none;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }

        .login__button--active {
          opacity: 1;
        }
      }

      .or__block {
        display: flex;
        position: relative;
        justify-content: center;
        width: 76%;
        height: 14px;
        margin: 8px 12%;
        border-bottom: 1px solid #edecec;

        p {
          display: block;
          position: absolute;
          font-size: 1.4rem;
          font-weight: 700;
          width: 50px;
          margin: 8px auto;
          background: white;
          color: #8e8e8e;
          text-align: center;
        }
      }

      .fb__login {
        display: flex;
        margin: 25px 26% 0;

        .fb__logo {
          width: 10%;
          cursor: pointer;
        }

        p {
          margin: 1px 0 0 6px;
          font-size: 1.4rem;
          font-weight: 500;
          color: #31487a;
          cursor: pointer;
        }
      }
    } // Form top

    .form__middle {
      display: flex;
      justify-content: center;
      font-size: 1.4rem;
      margin-top: 10px;
      padding-top: 28px;
      width: 100%;
      height: 40px;
      background: white;
      border: 1px solid #e2e2e2;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;

      a {
        margin-left: 3px;
        text-decoration: none;
        color: #3f95ef;

        &:hover {
          text-decoration: underline;
        }
      }
    } // Form middle

    .form__bottom {
      display: flex;
      flex-direction: column;
      align-content: center;
      width: 100%;

      p {
        margin-top: 22px;
        width: 100%;
        text-align: center;
        font-size: 1.4rem;
      }

      .store__icons {
        width: 81%;
        margin: 19px auto 0;
        cursor: pointer;
      }
    } // Form bottom
  }
}
