.comments__section {
  border-bottom: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  background: white;
}

.comments__icons {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 6px 2.4% 0;

  .heart__comment {
    display: flex;

    .comment__icon {
      width: 27px;
      margin-right: 12px;
      cursor: pointer;

      svg {
        padding: 0 15% 0;
        g {
          transform: scale(0.05);
        }
      }
    }

    .comment {
      width: 29px;
    }
  }

  .bookmark {
    width: 18px;
    margin-top: 2px;
  }
}

.comment__icon {
  width: 27px;
  margin-right: 12px;
  cursor: pointer;

  svg {
    padding: 0 15% 0;
    g {
      transform: scale(0.05);
    }
  }
}

.comment {
  width: 29px;
}

.likes {
  margin: 4px 0 0 2.6%;
  font-size: 1.4rem;
  font-weight: 700;
}

.comments__container {
  margin: 13px 2.6% 10px;
}

.post__timestamp {
  display: block;
  padding-bottom: 12px;
  margin: 0 2.6% 10px;
  font-size: 1.1rem;
  color: #8e8e8e;
  border-bottom: 1px solid #e2e2e2;
}

.user__comment {
  margin: 10px 0 0;
  width: 94.8%;
  display: flex;
}

.user__comment a {
  text-decoration: none;
  color: #252328;
  font-size: 1.4rem;
  font-weight: 700;
}

.user__comment p {
  margin-left: 5px;
  width: 100%;
  font-size: 1.4rem;
}

.comment__box {
  display: inline-block;
  width: 96%;
  margin: 0 0 16px 2.4%;

  form {
    display: flex;

    .comment__input {
      width: 90%;
      height: 25px;
      font-size: 1.4rem;
      border: none;
      outline: none;
    }

    .ellipses {
      width: 2.5%;
      height: auto;
      margin: 8px 0 0 5.5%;
      cursor: pointer;
    }
  }
}
