.search-bar__container {
  height: 76px;
  width: 100%;
  border-bottom: 2px solid #e2e2e2;
  position: fixed;
  top: 0;
  z-index: 100;
  background: white;

  .search-bar__main {
    display: flex;
    justify-content: space-between;
    height: 61px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 15px;
    display: flex;
    position: relative;

    .logo__links {
      display: flex;
      top: 0;
      left: 0;
      width: 180px;

      &:active {
        opacity: 0.6;
      }

      .instagram-icon-logo {
        margin: 9px 0 0 6%;
        width: 30px;
        cursor: pointer;
      }

      .divider-line {
        width: 6.7%;
        height: 27px;
        border-right: 1px solid black;
        margin-top: 9px;
      }

      .instagram-name-logo {
        margin: 3px 0 0 9%;
        width: 120px;
        color: black;
        cursor: pointer;
      }

      .display-none {
        animation: "fade-out" 0.15s forwards;
      }
    }

    .search-field {
      margin: 12px auto 0;
      width: 210px;
      height: 23px;
      border: 2px solid #e2e2e2;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      text-align: center;
      font-size: 1.4rem;
      background: #f9f9f9 url(../../images/search.svg) no-repeat scroll 1px 1px;
      background-size: 6%;
      background-position: 68px 7px;

      @media (max-width: 500px) {
        display: none;
      }
    }

    .search-field--active {
      background: #f9f9f9;
    }

    .icons {
      width: 135px;
      top: 0;
      right: 0;
      margin: 12px 1.4% 0 33px;
      cursor: pointer;
    }
  }

  .scroll {
    animation: "adjust-height-items" 0.3s forwards;
  }
}

.search-bar__container--scroll {
  animation: "adjust-height-container" 0.3s forwards;
}

@keyframes adjust-height-container {
  0% {
    height: 76px;
  }
  100% {
    height: 52px;
  }
}

@keyframes adjust-height-items {
  0% {
    padding-top: 15px;
  }
  100% {
    padding-top: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
